.about-product {
  background: #696183 url(../img/background-mobile.jpg) no-repeat top center;
  background-size: cover;
}

.about-product__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-product__info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-product__subtitle {
  margin: 0 0 5px;

  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: $primary-color;
}

.about-product__title {
  margin: 0 0 25px;
  padding: 0 20px;

  text-align: center;
}

.about-product__image {
  width: 86px;
  margin-bottom: 25px;
}

.about-product__description {
  display: none;
}

.about-product__form {
  position: fixed;
  z-index: 3;

  left: 50%;
  top: 50px;

  display: none;
  width: 260px;
  margin-left: -150px;
}

@media (min-width: $tablet-width) {
  .about-product {
    position: relative;

    background-color: transparent;
    background-image: url(../img/background-tablet.jpg);
    background-size: 100% 544px;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      content: "";
      display: block;
      height: 100%;
      width: 100%;

      background-image: linear-gradient(to bottom, #696183 544px, transparent 544px);
    }
  }

  .about-product__wrapper {
    position: relative;

    flex-direction: row;
    align-items: flex-start;
  }

  .about-product__info-block {
    order: 2;

    flex-basis: 50%;
    padding: 22px 0 0;
    align-items: flex-start;
  }

  .about-product__subtitle {
    margin-bottom: 17px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .about-product__title {
    margin-bottom: 12px;
    padding: 0;

    font-size: 50px;
    line-height: 60px;
    text-align: left;
  }

  .about-product__description {
    display: block;
    margin: 0;
    padding-right: 135px;

    font-size: 16px;
    color: $primary-color;
  }

  .about-product__image {
    order: 1;
    width: 298px;
    margin-right: 70px;
    margin-bottom: 0;
  }

  .about-product__toggle {
    display: none;
  }

  .about-product__form {
    position: absolute;
    top: unset;
    bottom: -10px;
    right: 0;
    left: inherit;
    z-index: 2;

    display: block;
  }
}

@media (min-width: $desktop-width) {
  .about-product {
    background-image: url(../img/background-desktop.jpg);
    background-size: 120% 544px;
  }

  .about-product__wrapper {
    justify-content: space-between;
  }

  .about-product__image {
    margin-left: 130px;
  }

  .about-product__info-block {
    flex-basis: 49%;
    padding: 72px 0 0;
  }

  .about-product__subtitle {
    margin-bottom: 13px;
  }

  .about-product__title {
    margin-bottom: 39px;

    font-size: 60px;
    line-height: 60px;
  }

  .about-product__description {
    padding-right: 70px;

    font-size: 18px;
  }
}
