.diseases {
  background: linear-gradient(to bottom, transparent 80px, #f6f9f3 80px);
}

.diseases__list-container {
  display: flex;
  flex-direction: column;
  padding: 0 11px;
  margin-bottom: 8px;
}

.diseases__title {
  width: 270px;
  margin: 0 auto 20px;
}

.diseases__list {
  padding: 0 0 0 32px;
  margin: 0;

  counter-reset: myCounter;
}

.diseases__item {
  position: relative;

  padding: 25px 0 24px 0;

  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #303030;

  list-style: none;
  border-bottom: 1px solid #e6efde;

  &::before {
    position: absolute;
    top: 25px;
    left: -32px;

    counter-increment: myCounter;
    content: counter(decimal-leading-zero)counter(myCounter)'. ';

    color: $green-metrics;
  }

  &:nth-child(n+10) {
    &::before {
      content:counter(myCounter)'. ';
    }
  }

  &--secondary {
    padding: 25px 0 21px 0;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;

    &::before {
      top: 40%;

      font-size: 12px;
      line-height: 20px;
      font-weight: 600;
    }
  }
}

.diseases__image-container {
  display: none;
}

.diseases__reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 26px 44px 31px;
  margin-bottom: 20px;

  background-color: transparent;
}

.diseases__reviews-description {
  margin: 0 0 22px 0;
}

.diseases__reviews-link {
  z-index: 2;

  margin: 0 22px -44px 0;
  padding: 0 10px;

  font-weight: 600;
  color: #7eb152;
  text-decoration: underline;

  background-color: #f6f9f3;
}

@media (min-width: $tablet-width) {
  .diseases {
    background: linear-gradient(to bottom, transparent 123px, #f6f9f3 123px, #f6f9f3 90%, transparent 90%);
  }

  .diseases__list-container {
    position: relative;

    align-items: center;
    padding: 0 57px;
    margin-bottom: 0;
  }

  .diseases__title {
    width: 340px;
    margin: 0 auto 42px;
  }

  .diseases__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .diseases__item {
    width: 100%;
    padding: 25px 41px 24px;

    font-size: 14px;

    &::before {
      left: 1px;
    }

    &--secondary {
      display: flex;
      align-items: center;
      padding: 20px 40px;
      margin-right: 39px;
      width: 41%;

      font-size: 16px;
      line-height: 20px;

      border-right: 1px solid #e6efde;

      &::after {
        position: absolute;
        right: -40px;
        bottom: -1px;

        content: "";

        width: 40px;
        height: 1px;

        background-color: #e6efde;
      }

      &::before {
        top: 38%;
      }
    }
  }

  .diseas__reviews-container {
    height: 689px;
    width: 100%;

    // background: linear-gradient(to bottom,transparent 10px,#a4c58c 10px);
    background-color: #a4c58c;
  }

  .diseases__container-wrapper {
    width: 500px;
    margin: auto;
  }

  .diseases__image-container {
    display: block;
  }

  .diseases__image-skeleton {
    position: relative;
    z-index: 1;
  }

  .diseases__reviews {
    position: relative;
    z-index: 1;

    padding: 54px 43px 51px 71px;
    // margin-top: -60px;
    // margin-bottom: 22px;
    width: 303px;
    margin: -167px auto 22px;

    background-color: #f6f9f3;
  }


  .diseases__reviews-description {
    font-size: 16px;
  }

  .diseases__reviews-link {
    position: relative;

    margin: 0 28px -44px 0;
  }

  .diseases__btn {
    display: block;
    width: 416px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .diseases {
    padding-bottom: 30px;

    background: linear-gradient(to bottom, transparent 140px, #f6f9f3 140px);
  }

  .diseases__list-container {
    width: 670px;
    align-items: flex-start;
    padding: 0;
  }

  .diseases__title {
    width: 450px;
    margin: 0 0 41px 0;
  }

  .diseases__item::after {
    position: absolute;

    top: 29px;
    right: 41px;

    width: 9px;
    height: 14px;

    content: "";

    background: url(../img/green-arrow.png) no-repeat 0 0;
    opacity: 0;

    transition: 1s;
  }

  .diseases__item:hover::after,
  .diseases__item:hover .diseas__item-text::after,
  .diseases__item:hover .diseas__item-text::before {
    opacity: 1;

    transition: 0.7s;
  }

  .diseas__item-text {
    position: relative;

    &::before {
      position: absolute;
      z-index: 2;

      width: 25px;
      height: 25px;
      padding: 2px 0 0 4px;

      text-align: center;
      color: #fff;

      content: counter(decimal-leading-zero)counter(myCounter);

      background-color: #a5c98a;
      border-radius: 50%;
      opacity: 0;

      transition: 1s;
    }

    &::after {
      position: absolute;
      z-index: 2;

      width: 25px;
      height: 25px;

      content: "";

      border: 9px solid #fff;
      border-radius: 50%;
      opacity: 0;

      transition: 1s;
    }
  }

  .diseases__list .diseases__item {
    &:nth-of-type(1) .diseas__item-text::before {
      top: -6px;
      right: -451px;
    }

    &:nth-of-type(1) .diseas__item-text::after {
      top: -15px;
      right: -459px;
    }

    &:nth-of-type(2) .diseas__item-text::before {
      top: -145px;
      right: -650px;
    }

    &:nth-of-type(2) .diseas__item-text::after {
      top: -154px;
      right: -658px;
    }

    &:nth-of-type(3) .diseas__item-text::before {
      top: -299px;
      right: -594px;
    }

    &:nth-of-type(3) .diseas__item-text::after {
      top: -307px;
      right: -603px;
    }

    &:nth-of-type(4) .diseas__item-text::before {
      top: -204px;
      right: -653px;
    }

    &:nth-of-type(4) .diseas__item-text::after {
      top: -212px;
      right: -662px;
    }

    &:nth-of-type(5) .diseas__item-text::before {
      top: -435px;
      right: -748px;
    }

    &:nth-of-type(5) .diseas__item-text::after {
      top: -444px;
      right: -757px;
    }
  }

  .diseases__item--secondary {
    width: 40%;

    &::after {
      display: none;
    }
  }

  .diseases__image-container {
    margin-bottom: 44px;

    &::before {
      display: none;
    }
  }

  .diseas__reviews-container {
    position: relative;

    width: 500px;
    margin: -38px 0 0;
  }

  .diseases__reviews {
    position: absolute;
    bottom: -20px;
    left: 0;

    padding: 54px 43px 51px 55px;
    width: 317px;
    margin: 0;
  }

  .diseases__reviews-description {
    padding-left: 15px;
  }

  .diseases__reviews-link {
    margin-right: auto;

    &:hover {
      color: $btn-hover-color;
    }
  }

  .diseases__btn {
    width: inherit;
  }
}
