.diseases {
  background: linear-gradient(to bottom, transparent 80px, #f6f9f3 80px);
}

.diseases__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 11px;
  margin-bottom: 8px;
}

.diseases__title {
  width: 270px;
  margin: 0 auto 20px;

  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #303030;
}

.diseases__list {
  padding: 0 0 0 32px;
  margin: 0;

  counter-reset: myCounter;
}

.diseases__item {
  position: relative;

  padding: 25px 0 24px 0;

  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #303030;

  list-style: none;
  border-bottom: 1px solid #e6efde;

  &::before {
    position: absolute;
    top: 25px;
    left: -32px;

    counter-increment: myCounter;
    content: counter(decimal-leading-zero)counter(myCounter)'. ';

    color: $green-metrics;
  }

  &:nth-child(n+10) {
    &::before {
      content:counter(myCounter)'. ';
    }
  }

  &--secondary {
    padding: 25px 0 21px 0;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;

    &::before {
      top: 40%;

      font-size: 12px;
      line-height: 20px;
      font-weight: 600;
    }
  }
}

.diseases__image-container {
  display: none;
}

.diseases__reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 26px 44px 31px;
  margin-bottom: 20px;

  outline: 1px solid #c5dab5;
  outline-offset: -11px;
}

.diseases__reviews-description {
  margin: 0 0 22px 0;
}

.diseases__reviews-link {
  z-index: 2;

  margin: 0 22px -44px 0;
  padding: 0 10px;

  font-weight: 600;
  color: #7eb152;
  text-decoration: underline;

  background-color: #f6f9f3;
}

@media (min-width: $tablet-width) {
  .diseases {
    background: linear-gradient(to bottom, transparent 123px, #f6f9f3 123px);
  }

  .diseases__wrapper {
    position: relative;

    align-items: center;
    padding: 0 57px;
  }

  .diseases__title {
    width: 340px;
    margin: 0 auto 42px;

    font-size: 30px;
    line-height: 40px;
  }

  .diseases__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .diseases__item {
    width: 100%;
    padding: 25px 41px 24px;

    font-size: 14px;

    &::before {
      left: 1px;
    }

    &--secondary {
      display: flex;
      align-items: center;
      padding: 20px 40px;
      margin-right: 39px;
      width: 41%;

      font-size: 16px;
      line-height: 20px;

      border-right: 1px solid #e6efde;

      &::after {
        position: absolute;
        right: -40px;
        bottom: -1px;

        content: "";

        width: 40px;
        height: 1px;

        background-color: #e6efde;
      }

      &::before {
        top: 38%;
      }
    }
  }

  .diseas__reviews-container {
    width: 416px;
    margin: auto;
  }

  .diseases__image-container {
    position: relative;

    display: block;

    &::before {
      position: absolute;
      left: -392px;
      top: -9px;
      z-index: 0;

      content: "";
      display: block;
      height: 689px;
      width: 1199px;

      background-color: #a4c58c;
    }
  }

  .diseases__image-skeleton {
    position: relative;
    z-index: 1;
  }

  .diseases__reviews {
    position: relative;
    z-index: 1;

    padding: 54px 43px 51px 71px;
    margin-top: -60px;
    margin-bottom: 22px;

    background-color: #f6f9f3;
    outline-offset: -21px;
  }


  .diseases__reviews-description {
    font-size: 16px;
  }

  .diseases__reviews-link {
    position: relative;

    margin: 0 28px -44px 0;
  }
}

@media (min-width: $desktop-width) {
  .diseases {
    padding-bottom: 20px;
  }

  .diseases__wrapper {
    width: 670px;
    align-items: flex-start;
    padding: 0;
  }

  .diseas__container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding: 0;
  }

  .diseases__title {
    width: 450px;
    margin: 0 0 41px 0;

    text-align: left;
    font-size: 40px;
    line-height: 50px;
  }

  .diseases__item--secondary {
    width: 40%;
  }

  .diseases__image-container::before {
    display: none;
  }

  .diseas__reviews-container {
    position: relative;

    width: 500px;
    margin: -38px 0 0;
  }

  .diseases__reviews {
    position: absolute;
    bottom: -10px;
    left: 0;

    padding: 54px 43px 51px 55px;
    width: 317px;
    margin: 0;
  }

  .diseases__reviews-description {
    padding-left: 15px;
  }

  .diseases__reviews-link {
    margin-right: auto;
  }

  .diseases__btn {
    position: absolute;
    bottom: -110px;

    &::after {
      right: 104px;
    }
  }
}
