.modal {
  align-items: center;
  flex-direction: column;
  padding: 40px 20px 20px;
}

.modal__show {
  display: flex;
  animation: bounce 0.6s;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 23px;
  height: 23px;
  border: 0;
  background: transparent url(../img/icon-red-chest.svg) no-repeat 0 0;
}

.modal__title {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal__list {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
  padding: 0;

  list-style: none;
}

.modal__item:nth-child(1) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .modal {
    position: absolute;

    width: 434px;
    padding: 64px 68px 139px;
  }

  .modal__show {
    position: fixed;
    z-index: 5;
    top: 30%;
    left: 50%;

    margin-left: -310px;
  }

  .modal__close {
    top: 30px;
    right: 30px;

    display: none;

    cursor: pointer;

    &--show {
      display: block;
    }
  }

  .modal__title {
    width: 190px;
    margin: 0 245px 30px 0;

    text-align: left;
  }

  .modal__list {
    flex-direction: row;
    margin: 0;
  }

  .modal__item:nth-child(1) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .modal__submit {
    position: absolute;
    bottom: 20px;
    right: 20px;

    width: 250px;
  }
}
