.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
}

.page-header__left {
  margin-right: 65px;
}

.page-header__logo {
  display: flex;
  width: 110px;
}

.page-header__logo-image {
  width: 110px;
}

.page-header__delivery-info {
  display: none;
}

.page-header__tel {
  font-weight: 500;
  color: $text-color;
  letter-spacing: 1px;
}

.page-header__call-info {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 35px 20px 32px;
  }

  .page-header__left {
    display: flex;
    align-items: center;
  }

  .page-header__logo {
    width: 198px;
    margin-right: 30px;
  }

  .page-header__logo-image {
    width: 198px;
    height: 29px;
  }

  .page-header__delivery-info {
    display: block;
    margin: 0;

    font-size: 14px;
    line-height: 22px;
    color: #9a9a9a;
  }

  .page-header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .page-header__tel {
    position: relative;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;

    &::after {
      position: absolute;
      left: -30px;
      top: 3px;

      width: 15px;
      height: 15px;

      content: "";

      background: url("../../img/icon-phone.svg") no-repeat 0 0;
    }
  }

  .page-header__call-info {
    margin: 0;
    display: block;
    font-size: 12px;
    line-height: 18px;
  }
}
