.page-main__about-product {
  padding-top: 30px;
  margin-bottom: 57px;
}

.page-main__metrics {
  padding: 0 50px;
  margin-bottom: 42px;
}

.page-main__diseases {
  margin-bottom: 53px;
}

.page-main__history {
  margin-bottom: 53px;
}

.page-main__quote {
  margin-bottom: 51px;
}

.page-main__composition {
  margin-bottom: 72px;
}

.page-main__constituent {
  margin-bottom: 53px;
}

.page-main__feedback {
  margin-bottom: 54px;
}

.page-main__participation {
  margin-bottom: 54px;
}

@media (min-width: $tablet-width) {
  .page-main__about-product {
    padding: 95px 22px 0;
    margin-bottom: 125px;
  }

  .page-main__metrics {
    padding: 0 95px;
    margin-bottom: 28px;
  }

  .page-main__diseases {
    margin-bottom: 253px;
  }

  .page-main__history {
    margin-bottom: 101px;
  }

  .page-main__composition {
    margin-bottom: 96px;
  }

  .page-main__constituent {
    margin-bottom: 141px;
  }

  .page-main__feedback {
    margin-bottom: 45px;
  }

  .page-main__participation {
    margin-bottom: 122px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__metrics {
    width: 1170px;
    margin: 0 auto 232px;
    padding: 0;
  }

  .page-main__diseases {
    margin-bottom: 289px;
  }

  .page-main__popularity {
    margin-bottom: 223px;
  }

  .page-main__history {
    padding-top: 88px;
    margin-bottom: 198px;
  }

  .page-main__composition {
    margin-bottom: 188px;
  }

  .page-main__constituent {
    width: 1170px;
    margin: 0 auto 168px;
    padding: 0;
  }

  .page-main__feedback {
    margin-bottom: 202px;
  }

  .page-main__participation {
    margin-bottom: 199px;
  }
}
