.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
}

.page-header__left {
  margin-right: 65px;
}

.page-header__delivery-info {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 35px 20px 32px;
  }

  .page-header__left {
    display: flex;
    align-items: center;
  }

  .page-header__delivery-info {
    display: block;
    margin: 0;

    font-size: 14px;
    line-height: 22px;
    color: #9a9a9a;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1170px;
    margin: 0 auto;
    padding: 32px 15px 35px;
  }

  .page-header__left {
    align-items: flex-end;
  }

  .page-header__delivery-info {
    font-size: 16px;
  }
}
