.quality__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality__title {
  margin: 0 0 15px;
}

.quality__guarantee {
  padding: 0 10px;
  margin: 0 0 25px;

  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.6px;
}

.quality__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  outline: 0;
}

.quality__certificate-img {
  margin-bottom: 23px;
}

.quality__description-block {
  margin-bottom: 24px;
  padding-left: 29px;
}

.quality__word-but {
  margin-bottom: 5px;

  font-weight: 700;
  text-transform: uppercase;
  color: $green-metrics;
}

.quality__description {
  margin: 0;

  &:nth-child(1) {
    margin-bottom: 12px;
  }
}

@media (min-width: $tablet-width) {
  .quality {
    padding-bottom: 46px;

    background: linear-gradient(to bottom,transparent 85px,#f6f9f3 85px);
  }

  .quality__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 22px 0 21px;
  }

  .quality__title {
    margin: 0 auto 86px;
  }

  .quality__guarantee {
    padding: 0 99px 0 94px;
    margin: 0 0 34px;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
  }

  .quality__certificate-img {
    margin-right: 30px;
  }

  .quality__block {
    position: relative;

    padding: 104px 19px 0;
    flex-basis: 52%;

    outline: 1px solid #c8dcba;
    outline-offset: -20px;
  }

  .quality__word-but {
    position: absolute;
    top: 8px;
    left: 64px;

    padding: 0 6px;

    background-color: #ffffff;
  }

  .quality__description-block {
    margin-bottom: 73px;
    padding: 0 14px 0 30px;
  }

  .quality__description {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .quality {
    padding-bottom: 100px;

    background: linear-gradient(to bottom,transparent 180px,#f6f9f3 180px);
  }

  .quality__wrapper {
    position: relative;

    width: 1170px;
    margin: 0 auto;
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 88px 0 0;
  }

  .quality__title {
    width: 50%;
    margin: 0 0 75px;
  }

  .quality__guarantee {
    width: 510px;
    padding: 0 0 0 69px;
    margin: 0 0 44px;

    text-align: left;
  }

  .quality__certificate-img {
    position: absolute;
    top: 0;
    right: 0;

    width: 416px;
    height: 644px;
  }

  .quality__block {
    padding: 65px 19px 19px;
    margin-left: 69px;
    width: 45.5%;
  }

  .quality__description-block {
    margin-bottom: 46px;
    padding-left: 52px;
  }

  .quality__description {
    line-height: 22px;

    &:nth-child(1) {
      margin-bottom: 14px;
    }
  }

  .quality__btn {
    width: 350px;
    margin-left: auto;
  }

  .quality__btn__text {
    margin-right: 10px;
  }
}
