$main-font: "Montserrat", "Arial", sans-serif;
$second-font: "Arial", sans-serif;

$primary-color: #ffffff;

$btn-hover-color: #6d9a47;
$secondary-color: #7eb252;
$light-green: #c8dcba;
$very-light: #cddcbc;
$text-green: #a8c48c;
$green-metrics: #a4c58c;


$text-color: #303030;

$tablet-width: 768px;
$desktop-width: 1200px;
